<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <title>Classifica Giocatori</title>
  <!-- Includi Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>

<body class="p-4 bg-light text-dark">
  <div class="container mt-5">
    <h1 class="mb-4 text-center"><span class="bg-primary text-light px-1 rounded">Classifica giocatori </span>🥇🥈🥉</h1>
    <table class="table table-striped table-bordered">
      <thead class="table-light">
        <tr>
          <th>Posizione</th>
          <th>Nome</th>
          <th>Livello</th>
          <th>Punteggio</th>
          <th>Ultima Partita</th>
        </tr>
      </thead>
      <tbody>
        <% giocatori.forEach((giocatore, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= giocatore.nome %></td>
          <td><%= giocatore.livello %></td>
          <td><%= giocatore.punteggio %></td>
          <td>
            <% if (giocatore.lastMatch) { %>
            <span class="badge bg-success">Vittoria</span>
            <% } else { %>
            <span class="badge bg-danger">Sconfitta</span>
            <% } %>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <form action="/crea-turno" method="POST">
      <button type="submit" class="btn btn-success">Prossimo turno</button>
    </form>

  </div>
  <!-- Includi Bootstrap JS (opzionale) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>